#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 23px;
  width: 100%;
  padding: 60px;
  //background-color: #e58a71;
  // background-color: #ed9d64;
  background-color: #d7d7d7;
  #contact-header {
    background: #fff;
    color: #fff;
    padding: 35px;
    display: flex;
    align-items: center;
    border-radius: 11px;
  }
  #contact-body {
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    padding: 22px;
    background: none;
  }
}

@media screen and (max-width: 800px) {
  #contact {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    #contact-header {
      justify-content: center;
    }
  }
}
