nav {
  display: flex;
  justify-content: center;
  //background: #d77a61;
  margin: auto;
  ul {
    color: #000;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    li {
      padding: 10px;
    }
  }
}
