#mainParser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: auto;
  // background-color: #232f3e;
  // background-color: #ff9900;
}

#cardList {
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
  justify-content: space-evenly;
}
.cardParser {
  border-radius: 5px !important;
  font-size: 22px;
  background-color: #f2f2f2;
}

.cardParser:hover {
  background-color: #bdbcbc;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
}

input[type="file"] {
  color: transparent;
}

#flashCards {
  max-width: 800px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

#mainTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  //background-color: #ff9900;
  background-color: #f2f2f2;
  padding: 30px;
  input {
    width: 100%;
  }
  .csv-reader-input {
    max-width: 400px;
  }
}

mark {
  background-color: yellow;
  padding: 0.1em;
  width: fit-content;
}

@media screen and (max-width: 1024px) {
  #mainParser {
    flex-direction: column;
    #mainTop {
      margin-top: 0px;
    }
    #about-header {
      justify-content: center;
    }
  }
}
